DB_HUSKY_HOST=
DB_HUSKY_PORT=
DB_HUSKY_USER=
DB_HUSKY_PASSWORD=
DB_HUSKY_NAME=


DB_ATTENDANCE_HOST=
DB_ATTENDANCE_PORT=
DB_ATTENDANCE_USER=
DB_ATTENDANCE_PASSWORD=
DB_ATTENDANCE_NAME=


EXTERNAL_BOT_API_URL=
KARDEX_API_URL=https://kardex.casitaapps.com